.Pokedex-header {
    text-align: center;
}

.Pokedex-container {
    display: flex;
    justify-content: center;
}

.Pokedex-winner {
    color: green;
    background-color: lightgreen;
}

.Pokedex-loser {
    color: red;
    background-color: pink;
}